[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
numpy = "*"
myst-parser = "==0.13.5"
sphinx = "==3.1.1"
sphinx-rtd-theme = "==0.4.3"
flake8 = "==3.9.0" # if version changed, change also on .pre-commit-config.yaml
black = "==20.8b1" # if version changed, change also on .pre-commit-config.yaml
codespell = "==v2.0.0" # if version changed, change also on .pre-commit-config.yaml
pep8-naming = "==0.11.1" # if version changed, change also on .pre-commit-config.yaml
isort = "==5.7.0" # if version changed, change also on .pre-commit-config.yaml
importlib-metadata = "*" # needed by flake8 and listed explicitly to fix dependency issues between Python versions

[packages]
surrortg = {editable = true, path = "."}

[scripts]
tests = "python tests/main.py"
isort = "isort --settings-file pyproject.toml --check-only ."
black = "black --check --diff --config=pyproject.toml ."
flake8 = "flake8 --config=.flake8"
codespell = "codespell --ignore-words=.codespell-ignore --skip='./docs/build,./docs/source/modules' ."
pipeline = """bash -c '\
           echo tests: && pipenv run tests && \
           echo isort: && pipenv run isort && \
           echo black: && pipenv run black && \
           echo flake8: && pipenv run flake8 && \
           echo codespell: && pipenv run codespell \
           '"""
docs = "docs/rebuild.sh"
pdf-docs = "docs/rebuild_pdf.sh"
dummy = "python -m games.dummy_game.game"
