[Unit]
Description=Surrogate robot updater
After=network.target pigpiod.service
Wants=pigpiod.service
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=10
WorkingDirectory=/home/pi/surrortg-sdk
ExecStart=/usr/bin/python3 -m surrortg.utils.updater -p /home/pi/surrortg-sdk
[Install]
WantedBy=multi-user.target
